@import "mixins";
@import "reset";

// PARTIALS

@import "vars";

@import "font";
@import "z-index";
@import "layout";

// COMPONENTS

@import "components/all";
@import "tools/all";

// SECTIONS

.featured {
  height: 640px;
  margin-bottom: 60px;

  @media screen  and (max-width: 760px) {
    height: 225px;
    margin-bottom: 60px;
  }
}

.slide-content {
  max-width: $site-width + 180;
  max-height: 640px;
  overflow: hidden;
  margin: 0 auto;
  // border-radius: 10px;

  img {
    width: 100%;
  }
}

.download-icon {
  padding: 100px;
  background:#F7F7F7;
  text-align: center;
}