.btn {
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 26px 56px;
  transition: all 0.3s ease-in-out;
  

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.btn--purple {
  background: rgba(#8368EA, 1);
  border: 4px solid #8368EA;

  &:hover {
    color: #8368EA;
    background: rgba(#8368EA, 0);
  }
}

.btn--green {
  background: #AED554;
  background: rgba(#AED554, 1);
  border: 4px solid #AED554;

  &:hover {
    color: #AED554;
    background: rgba(#AED554, 0);
  }
}